* {
    margin: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f1f1f1;
}

.header {
    background-color: rgb(31, 7, 53);
    height: 80px;
    padding-bottom: 25px;
    border-bottom: white;
}


.header .top-right {
    width: 500px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 0;
}

.header .top-right a {
    font-variant: small-caps;
    text-decoration: none;
    color: white;
    line-height: 35px;
    padding: 5px;
    font-size: 20px;

}

.top-right a:hover {
    color: rgb(160, 14, 14);
}

.header .company-info {
    width: 300px;
    height: 50px;
    position: absolute;
    left: 170px;
    top: 10px;
}

.header .company-info h1 {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: white;
    font-variant: 33px;
    border-bottom: 1px dotted red;
    text-shadow: 0px 0 5px orangered;
}

.header .company-info h3 {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: orangered;
    letter-spacing: 4px;
}

/* nav */
nav {
    width: 100%;
    background: rgb(255, 106, 0);
    text-decoration: none;
    margin-right: 18px;
    font-size: large;
    line-height: 50px;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    color: white;
    font-variant: small-caps;
    font-size: 20px;

}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}

.menu ul li a:hover {
    color: yellow;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
    text-align: center;
    border-top: 1px white solid;
}

.menu ul ul {
    position: absolute;
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}

.menu ul ul a {
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}

.menu ul ul a:hover {
    background-color: orangered;
    color: white;
}

.menu ul li:hover ul {
    display: block;
}

/* hình nền logo */
.anhchinh {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-image: linear-gradient(rgba(40, 42, 53, 0.8), rgba(40, 42, 53, 0.8)), url(../img/uiux-group.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.company {
    position: absolute;
    top: 250px;
    left: 37%;
}

.company h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: white;
    font-variant: 33px;
    text-shadow: 0px 0 5px orangered;
}

.company h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    color: white;
    letter-spacing: 4px;
}

/* article */
article {
    width: 65%;
    float: left;
    padding-top: 10px;
}

.new-information {
    width: 96%;
    padding-bottom: 10px;
}

.new-Content a {
    text-decoration: none;

}

.new-image {
    background-image: url(../img/e5ed7f31737c9a22c36d.jpg);
    background-repeat: no-repeat;
    width: 98%;
    height: 250px;
}

.hot1,
.hot2,
.hot3 {
    width: 30%;
    height: 250px;
    float: left;
    margin-right: 20px;
}

.hot1-image {
    background-image: url(../img/2a2f3df731bad8e481ab.jpg);
    width: 100%;
    height: 150px;
}

.hot2-image {
    background-image: url(../img/daf5492f4562ac3cf573.jpg);
    width: 100%;
    height: 150px;
}

.hot3-image {
    background-image: url(../img/9eade076ec3b05655c2a.jpg);
    width: 100%;
    height: 150px;
}

h1 {
    font-variant: small-caps;
    font-size: 30px;
    margin-bottom: 10px;
}

/* aside */
aside {
    width: 35%;
    float: right;
    padding-top: 10px;
}

.bangtin {
    margin-right: 5px;
}

.k {
    margin: 10px 10px 30px 30px;
    border-bottom: 1px solid rgb(153, 150, 150);
}

.weeks {
    border-left: 1px solid black;
}
.xemthem{
    width: 100%;
    height: 150px;
    background-color: blue;
    clear: both;
}
.xemthem .tx{
    border: 1px,red;
}
/* sanpham */
.sanpham1,
.sanpham2 {
    width: 100%;
    margin-top: 10px;
    float: left;
}

.sanpham1 {
    background-color: white;
}

.sanpham2 {
    background-color: white;
    margin-bottom: 30px;
}

.col-25 {
    width: 20%;
    float: left;
}

.col-25:hover {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}

.prod {
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.prod .name {
    font-variant: small-caps;
    color: black;
}

.prod .image {
    max-width: 98%;
    height: 150px;
    margin-bottom: 10px;
}

.prod .price {
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color: black;
}

.prod .icons {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 25px;
}

.prod .icons img {
    width: 25px;
    height: 25px;
}

.prod .newicon {
    width: 25%;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* bang dang ký gói cước */
.banggoicuoc {
    padding-top: 30px;
    width: 100%;
}

.goicuoc {
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
}

table {

    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: #f1f1f1;
}

th {
    height: 50px;
    background-color: red;
    color: black;
}

.tytle {
    height: 50px;
    text-align: center;
    background-color: orange;
}

td {
    text-align: center;
    padding: 10px;
}

.o {
    background-color: white;
}

.button {
    border: 1px;
    padding: 8px 30px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #f1f1f1;
    color: black;
    box-shadow: inset 0 0 20px rgb(105, 105, 155);
}

.button:hover {
    box-shadow: inset 0 0 20px rgb(172, 161, 141);
}

/* hotro */
.hotro {
    width: 100%;
    float: left;
    height: 250px;
    background-color: rgb(206, 193, 193);
    margin-top: 10px;
    margin-bottom: 10px;
}

.chamsoc,
.vesp,
.thanhtoan,
.vanchuyen {
    width: 24%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.hinhtt {
    background-image: url(../img/thanh-toan.jpg);
    width: 100%;
    height: 150px;
}

.hinhvt {
    background-image: url(../img/van-chuyen.jpg);
    width: 95%;
    height: 150px;
}

.new-Content,
.new-Content1,
.new-Content2,
.new-Content3,
.new-Content4,
.new-Content5,
.new-Content6,
.new-Content7,
.new-Content8 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.new1-image {
    background-image: url(../img/photo-2-16759357491461589576097.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin-left: 90px;
}

h4 {
    width: 98%;
    text-align: center;
    color: rgb(100, 95, 95);
}

.lienquang {
    margin-top: 20px;
}

/* footer */
.footer {
    height: 40px;
    background: rgb(0, 229, 255);
    clear: both;
    text-align: center;
    padding-top: 10px;
    line-height: 10px;
    border-top: orange solid;
}


/* dangky */
.dangky {
    width: 100%;
    height: 700px;
    position: relative;
}

.ologin {
    margin: auto;
    width: 50%;
    border: 1px solid;
    height: 550px;
}

.k:hover {
    color: rgb(152, 141, 141);
}

form {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    outline: none;
    font-size: 22px;
    margin-bottom: 24px;
    padding: 8px 16px;
}

h3 {
    display: block;
    margin-bottom: 10px;

}

.ptn {
    border: 1px;
    display: block;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    background-color: orange;
    color: white;
}

.ptn:hover {
    border: 1px;
    display: block;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
    background-color: orangered;
    color: white;
}


/* <article class="hgiay"> */
.hgiay {
    width: 34%;
    float: left;
}

.hdoigiay {
    background-image: url(../img/anhqc6.jpg);
    width: 100%;
    height: 400px;
}

/* <aside class="ttgiay"> */
.ttgiay {
    margin-top: 10px;
    width: 66%;
    float: right;
    box-shadow: 0 0 5px gray;
}

.flashsale {
    margin-top: 10px;
    margin-left: 10px;
    width: 88%;
    height: 20px;
    background-color: orange;
}

.tengiay {
    margin-top: 10px;
    margin-left: 10px;
    width: 88%;
}

.giabang {
    margin-top: 10px;
    color: orange;
    margin-left: 10px;
}

.giamgia {
    color: gray;
    margin-left: 10px;
}

.ma {
    margin-top: 20px;
    margin-left: 10px;
    width: 88%;
    height: 30px;
}

.shop,
.giam {
    width: 22%;
    height: 20px;
    float: left;
}

.giam {
    background-color: orange;
    text-align: center;
}

.shop {
    font-size: 18px;
    color: rgb(177, 164, 164);
}

.nut {
    margin-top: 150px;
    width: 88%;
    margin-left: 20px;
    height: 40px;
}

.mua,
.them {
    width: 40%;
    float: left;
    margin-right: 10px;
    height: 30px;
    background-color: orange;
    text-align: center;
    font-size: 20px;
}

.mua {
    background-color: rgb(189, 189, 8);
}

.mota {
    margin-left: 10px;
    margin-top: 20px;
    width: 90%;
}

.comen {
    margin-left: 10px;
    margin-top: 20px;
    width: 100%;
}

.comen1,
.comen2,
.comen3,
.comen4 {
    margin-top: 20px;

}

/* fb-commentd
.fb-commentd{
    height: 350px;
} */
.comment{
    clear: both;
    padding: 10px 0px;
}